/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #faedcd;
}
nav{
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #d4a373;
  margin-bottom: 2rem;
}

nav>form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input:focus{
  outline: none;
}

form > input{
  padding: 0.25rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 0.25rem;
}

input[type=submit]{
  margin-left: 0.5rem;
  font-weight: 500;
  background-color: white;
  color: black;
}

input[type=submit]:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 300px);
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.flash{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2rem;
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 5;
  padding: var(--padding_0);
  animation-name: disapear;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

.notice{
  background-color: rgb(240, 182, 24);
}

.alert{
  background-color: rgb(241, 48, 0);
}

@keyframes disapear{
  0%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(0);
  }
  100%{
    display: none;
    transform: translateY(-2rem);
  }
}